<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="/">Khung Stream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><H5>Trang Chủ</H5></a>
      </li>
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle ml-2 mr-3 d-inline-flex" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <h5> Shop</h5>
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/product/create">Thêm Sản Phẩm</a>
          <a class="dropdown-item" href="/product/list">Danh Sách Sản Phẩm</a>
          </div>
      </li>
      <li class="nav-item">
      </li>
       <li class="nav-item">
      </li>
    </ul>
  </div>
  </div>
</nav>
